body {
  font-family: Liberation Sans, Arial, sans-serif;
  background-color: #191919;
  color: #DFE2DB;
  }

main {
  max-width: 38rem;
  padding: 2rem;
  margin:auto;
}

header {

}

.leaderboardBigContainer{
  justify-content: flex-start;
  flex-direction: row;
  display:flex;
}

.leaderboardSmallContainer{
  justify-content: flex-start;
  flex-direction: column;
  display:flex;
}

.leaderboardTitle{
  width:19rem;
  height:50px;
  border: 2px solid #DFE2DB;
  font-family:Liberation Sans, Arial, sans-serif;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  vertical-align: middle;
  line-height: 50px;
}

.leaderboardContents{
  width:19rem;
  border: 2px solid #DFE2DB;
  font-family:Liberation Sans, Arial, sans-serif;
  text-align:left;
  font-size:20px;
  vertical-align: middle;
  line-height: 25px;
}


.container {
  justify-content: flex-start;
  margin-left:1ch;
  margin-top:2.5ch;
  flex-direction: row;
  display:flex;
}

.title {
  width:100px;
  height:50px;
  background-color:#fff055;
  color:#191919;
  font-family:Liberation Sans, Arial, sans-serif;
  text-align:center;
  font-size:27px;
  font-weight:bold;
  vertical-align: middle;
  line-height: 50px;
  margin-right: 1ch ;
}

.leaderboard {
  background-color:#DFE2DB;
  width:128px;
  height:30px;
  color:#191919;
  font-family:Liberation Sans, Arial, sans-serif;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  vertical-align: middle;
  line-height: 30px;
  margin-right: 1ch;
  margin-top: 10px;
  margin-bottom: 10px;

}

.about {
  background-color:#DFE2DB;
  width:65px;
  height:30px;
  color:#191919;
  font-family:Liberation Sans, Arial, sans-serif;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  vertical-align: middle;
  line-height: 30px;
  margin-right: 1ch;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: #191919;
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

.white {
  color:#70AB8F;
}

.team {
  width:58px;
  background-color:#DFE2DB;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  vertical-align: middle;
  line-height: 30px;
  margin-right: 1ch;
  margin-top: 10px;
  margin-bottom: 10px;
}
